<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="planningApps" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="sqlConnectionString" value="server=localhost;Trusted_Connection=YES;database=NicePlanningUAT;Integrated Security=true" />
        <add key="diffFilePath" value="" />
        <add key="outputFilePath" value="" />
        <add key="useGraphDB" value="false" />
        <add key="generateRandom" value="false" />
        <add key="GraphDBUrl" value="http://localhost:7474/db/data/" />
        <add key="GraphDBUser" value="" />
        <add key="GraphDBPassword" value="" />
    </appSettings>
    <planningApps>
        <!-- Websites -->
        <add key="UsersPermissions" value=""/><!-- DataAccess.cs -->
        <add key="Contacts" value=""/><!-- DataAccess.cs -->
        <add key="Contacts2" value=""/><!-- ContactsDB.cs -->
        <add key="TA" value=""/><!-- DataAccess.cs -->
        <add key="Guidelines" value=""/><!-- DataAccess.cs -->
        <add key="IP" value=""/><!-- DataAccess.cs -->
        <add key="IP2" value=""/><!-- ContactsDB.cs -->
        <add key="Diagnostics" value=""/><!-- DataAccess.cs -->
        <add key="PIP" value=""/><!-- DataAccess.cs -->
        <add key="SR" value=""/><!-- DataAccess.cs -->
        <add key="AI" value=""/><!-- DataAccess.cs -->
        <add key="Registrations" value=""/><!-- DataAccess.cs -->
        <!-- Services -->
        <add key="MailService" value=""/><!-- Service1.asmx.cs -->
        <add key="DiagnosticsService" value=""/><!-- Service1.svc.cs -->
        <add key="PIPService" value=""/><!-- Service1.svc.cs -->
        <add key="SRService" value=""/><!-- Service1.svc.cs -->
        <add key="AIService" value=""/><!-- Service1.svc.cs -->
        <add key="SHRegistrationService" value=""/><!-- SHRegister.svc.cs -->
    </planningApps>
</configuration>